@charset "UTF-8";

.keypad-wrap{
	position:relative;
	width:460px; 
	margin:41px auto 0;
	.input-box{
		position:relative;
		padding-bottom:15px;
		&.error{
			&:after{
				background:#ff404e;
			}
		}
		>span,input{
			height:42px;
			border:0;
			background:none;
			text-align:center;
			font-size:28px;
			font-weight:500;
			font-family:$fontE,$fontK;
			&::placeholder{
				color:#bcbcbc;
			}
		}
		&:after{
			content:'';
			position:absolute;bottom:0;left:0;right:0;
			height:4px;
			background:$CPBrand;
		}
		&.tel{
			display:flex;
			align-items:center;
			justify-content:center;
			letter-spacing:5px;
			input{
				width:92px;
				padding:0;
				letter-spacing:6px;
				&:first-child{
					width:65px;
				}
				&::placeholder{
					letter-spacing:5px;
				}
			}
			>span,input{
				font-weight:800;
				&::placeholder{
					letter-spacing:5px;
				}
			}
		}
		&.certify{
			padding-bottom:13px;
			input{
				font-weight:800;
				letter-spacing:5px;
				&::placeholder{
					letter-spacing:11px;
				}
			}
			.certify-box{
				display:flex;
				align-items: center;
				position:absolute;top:0;right:0;
				.count-box{
					font-size:16px;
					font-weight:500;
					color:$CPBrand;
				}
				.btn-resend{
					display:flex;
					align-items: center;
					justify-content:center;
					width:69px;height:37px;
					margin-left:12px;
					border:1px solid #bcbcbc;
					font-size:14px;
					font-weight:500;
					&.disabled{
						background:#f0f0f0;
						color:#bcbcbc;
						border:0;
					}
				}
			}
		}
	}
	ol{
		display:flex;
		flex-wrap:wrap;
		justify-content:center;
		position:relative;
		width:360px;
		margin:21px auto 0;
		li{
			display: flex;
			align-items: center;
			justify-content: center;
			width:80px;height:80px;
			margin-left:60px;
			&:nth-child(3n+1){
				margin-left:0;
			}
			.num{
				display:flex;
				justify-content:center;
				align-items: center;
				width:74px;height:74px;
				border-radius:100%;
				font-weight:500;
				font-size:26px;
				color:#000;
				font-family:$fontK;
				line-height:1;
				&.active{
					padding-bottom:4px;
					background:$CGray200;
					color:$CPBrand;
					font-weight:700;
				}
			}
		}
	}
	.back{
		position:absolute;bottom:0;right:50px;
		display:flex;
		justify-content:center;
		align-content:center;
		width:80px;height:80px;
		text-indent:-999999em;
		overflow:hidden;
		&:after{
			content:'';
			@include abs();
			width:32px;height:22px;
			@include ico('~@/assets/images/svg_icon/icon_keypad_delete.svg');
		}
	}
}

.chk-box{
	//display: inline-flex;
	//align-items: center;
	//justify-content: center;
	display:inline-block;
	position:relative;
	padding-left:40px;
	font-size:14px;
	color:#787878;
	word-break: keep-all;
	line-height: 1.5;
	.checkbox{
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
	&:before{
		content:'';
		position:absolute;top:-0.2rem;left:0;
		width:28px;height:28px;
		@include ico('~@/assets/images/svg_icon/icon_check_nomal.svg');
		background-position: 50% 70%;
		background-size: 70%;
	}
	&.selected{
		&:before{
			background-image:url('~@/assets/images/svg_icon/icon_check_focused.svg');
		}
	}
	.essential{
		margin-left:6px;
		color:#787878;
		font-weight:400;
		&.active{
			color:$CPBrand;
		}
	}
	&.v2{
		font-size:20px;
		font-weight:700;
		color:#000;
		&:before{
			top:0;
			background-color:#e8e8e8;
			background-image:url('~@/assets/images/svg_icon/icon_check_white.svg');
		}
		&.selected{
			&:before{
				background-color:$CPBrand;
			}
		}
	}
	&.v3{
		padding-left:48px;
		font-size:18px;
		font-weight:400;
		color:#000;
		&:before{
			top:0;
			width:28px;
			height:28px;
			background-color:#e8e8e8;
			background-image:none;
			border-radius:50%;
		}
		&:after{
			content:'';
			position:absolute;top:50%;left:8px;
			transform:translateY(-50%) scale(0);
			width:12px;height:12px;
			border-radius:50%;
			background:#fff;
			transition:0.3s;
		}
		&.selected{
			&:before{
				background-color:$CPBrand;
			}
			&:after{
				transform:translateY(-50%) scale(1);
			}
		}
	}
}
/*

.chk-box2{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position:relative;
	padding-left:20px;
	font-size:14px;
	color:#787878;
	&:first-child{
		padding-left:0;
	}
	input[type="radio"]{
		display:none;
	}
	label{
		display:inline-block;
		cursor:pointer;
		vertical-align:middle;
	}
	.checkbox{
		display:inline-block;
		position:relative;
		width:25px;
		height:25px;
		margin-right:8px;
		background:#e8e8e8;
		border-radius:100%;
	}
	&.selected{
		.checkbox{
			background:$CPBrand;
		}
	}
	input[type="radio"]{
		&+.checkbox{
			border-radius:100%;
			&:after{
				content:"";
				position:absolute;top:50%;left:50%;
				transform:translate(-50%,-50%) scale(0);
				width:12px;height:12px;
				background:#e8e8e8;
				border-radius:100%;
				@include prefix(transition, all 150ms, webkit);
			}
		}
		&:checked ~ .checkbox:after{
			transform:translate(-50%,-50%) scale(1);
		}
	}
	input[type="radio"]:checked ~ .checkbox:before{
		transition-delay:0ms;
	}
	input[type="radio"]:checked ~ .checkbox:after{
		transition-delay:100ms;
	}
	
	&.v2{
		font-size:18px;
		.checkbox{
			width:28px;
			height:28px;
		}
	}
}
*/

.form-group{
	.form-box{
		margin-top:25px;
		&:first-child{
			margin-top:0;
		}
		dl {
			margin-top:36px;
			&:first-child {
				margin-top:0;
			}
		}
		dt{
			height:36px;
			padding: {
				left:32px;
				bottom:8px;
			}
			font-weight:500;
			font-size:18px;
			line-height: 1.56;
			color:#000;
			button{
				display:inline-flex;
				justify-content:center;
				align-items:center;
				width:60px;
				height:28px;
				margin-left:16px;
				font-size:12px;
				line-height:18px;
				letter-spacing:-0.06px;
				border:1px solid $CGray500;
				border-radius:14px;
			}
		}
		dd{
		}
		.form-col{
			display:flex;
			dl{
				margin-left:12px;
				margin-top:36px;
				width:100%;
				&:first-child{
					margin-left:0;
				}
			}
		}
	}
	input,
	[class^='item']{
		display:flex;
		margin-top:12px;
		&:first-child{
			margin-top:0;
		}
	}
	.item-id-num{
		align-items: center;
		&.tel-type{
			padding-left:32px;
			white-space:nowrap;
			.gender {
				width:92px;
			}
			input{
				width:259px;
				margin-top:0;
				&[readonly]{
					width:45px;
					padding:0;
					margin:0;
					background:#fff;
					border:0;
					text-align:center;
					letter-spacing:5px;
					font-weight:700;
				}
			}
		}
		&.card-type{
			padding-left:32px;
			.gender em,
			input{
				margin-left:36px;
				&:first-child{
					margin-left:0;
				}
			}
			input{
				min-width:120px;
				margin-top:0;
			}
		}
		span {
			width:12px;
			height:2px;
			margin:0 20px;
			background:$CGray600;
		}
		
		&.birth-type{
			.gender {
				em {
					letter-spacing:5px;
				}
				
			}
		}
		.gender {
			align-items: center;
			input {
				display: inline-flex;
				width: 60px;
				padding: 0;
				text-align: center;
			}
			em {
				display:inline-block;
				height:18px;
				font-family: $fontE, sans-serif;
				font-weight: 700;
				font-size: 28px;
				color: #000000;
				vertical-align: middle;
				margin-left:12px;
			}

		}
	}
	.item-deli{
		button{
			min-width:120px;
			margin-left:13px;
			border:1px solid $CGray500;
			border-radius:30px;
			font-size:18px;
		}
		&.v2{
			input{
				margin-top:0;
				&:first-child{
					min-width:180px;
				}
				&:last-child{
					min-width:736px;
					margin-left:60px;
				}
			}
		}
	}
	.btn-select{
		position:relative;
		[class^='icon-']{
			position:absolute;
			top:18px;
			right:26px;
		}
		&.v2{
			width:211px;
		}
	}
	input.no-cursor{
		color: transparent;
		&:focus {
			outline: none;
		}
		&[readonly]{
			background:#fff;
		}
	}
	.item-select{
		.btn-select{
			width:180px;
			margin-left:13px;
		}
	}
	
	.item-col{
		display:flex;
		input{
			margin-left:11px;
			margin-top:0;
			&:first-child{
				margin-left:0;
			}
		}
	}

	.item-foreiger{
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		width:100%;
		height:324px;
		background:$CGray200;
		border-radius:30px;
		button{
			display:flex;
			justify-content:center;
			align-items:center;
			width:109px;
			height:48px;
			font-size:18px;
			line-height:28px;
			letter-spacing:-0.12px;
			background:#fff;
			border:1px solid $CGray500;
			border-radius:30px;
		}
		p{
			margin-top:12px;
			font-size:18px;
			line-height:28px;
			letter-spacing:-0.12px;
			color:$CGray500;
		}
	}
	.item-payment{
		display:block;
		width:526px;
		padding:24px 0;
		background:#f4f4f4;
		border-radius:16px;
		.chk-box{
			line-height:1.5;
		}
		>ul{
			display:flex;
			padding:0 32px;
			>li{
				&:nth-child(n+2){
					margin-left:40px;
				}
			}
		}
	}
	
	.item-tel{
		.input-field{
			position:relative;
			width:100%;
			.time{
				position:absolute;top:18px;right:31px;
				line-height:1.5;
				font-size:16px;
				font-weight:500;
				color:$CPBrand;
			}
		}
		button{
			min-width:158px;
			margin-left:13px;
			border:1px solid $CGray500;
			border-radius:30px;
			font-size:18px;
		}
	}
}

.chk-txt{
	display:inline-flex;
	align-items:center;
	justify-content:center;
	width:206px;height:60px;
	border:1px solid $CPBrand;
	border-radius:58px;
	line-height:60px;
	color:$CPBrand;
	font-size:20px;
	&.selected{
		background:#e8e9f4;
	}
	&:nth-child(n+2){
		margin-left:15px;
	}
}

//kiosk
@media screen and (min-width: 1920px){
	.chk-box{
		font-size:16px;
		&.v2{
			font-size:24px;
			&:before{
				top: 0.2rem;
			}
		}
	}
}
