@charset "UTF-8";


$CBrand:#f88180;
$CBrand2:#f7786B;
$CBrand3:#f6A1A0;
$CBlack:#333;
$CGray:#666;
$CGray2:#999;
$CGray3:#f5f5f5;
$CGray4:#4e4e4e;
$CYellow:#fff1d7;
$CYellow2:#fff7ec;

$CPBrand:#491BC7;
$CPBrandD:#321791;
$CPBrandL:#6D49D2;

$CSBrand:#F5535F;
$CSBrandL:#F7757F;



//Color
$CBrand:#3617ce;
$CBrand2:#686dee;
$CBrand3:#6648c8;

//$CBrandGra:linear-gradient(to left, #5050D0, #9060D8);
$CBrandGra:#4229bc;
$CBrandGraPress:linear-gradient(to left, #3D3DB9, #7848BE);
$CBrandGra2:linear-gradient(to top, #7468C8, #887CD8);
$CBrandGra3:linear-gradient(to top, #5048A0, #887CD8);
$CBrandGra4:linear-gradient(to left, #9078D8, #A488E8);

$CGra:#ff404e;
//$CGra:linear-gradient(to top, #E25278, #EC7068);
$CGraPress:linear-gradient(to top, #D04064, #E8665C);

$CGray200:#f4f4f4;
$CGray300:#eaeaea;
$CGray400:#d3d3d3;
$CGray500:#bcbcbc;
$CGray600:#959595;
$CGray700:#747474;
$CGray800:#505050;
$CGray900:#323232;

$Flag:#F09858;
$Flag2:#68C0C0;
$Flag3:#F8A090;
$Flag4:#80B4F0;

//url
$sp-common:'~@/assets/images/sp/sp_common.png';
$sp-player:'~@/assets/images/sp/sp_player.png';
$sp-check:'.~@/assets/images/sp/sp_check.png';


//국문 : AppleSDGothicNeo YoonGothic RixHead
//영문 : HelveticaNeue Proxima MuseoSans ITCAvantGardeStd Futura BwModelica


$fontK:AppleSDGothicNeo;
$fontE:HelveticaNeue;



 

